name: eShopOnWeb Docker Build and Deploy

#Triggers (uncomment line below to use it)
on: [workflow_dispatch]

#Environment variables https://docs.github.com/en/actions/learn-github-actions/environment-variables
# env:
#   RESOURCE-GROUP: khuong-nguyen-rg
#   LOCATION: southeastasia
#   SUBSCRIPTION-ID: ${{ vars.SUBSCRIPTION_ID }}

permissions:
  contents: read
  packages: write

jobs:
  #Build, test and publish .net web project in repository
  buildandtest:
    runs-on: ubuntu-latest
    steps:
      #checkout the repository
      - uses: actions/checkout@v5
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: src/Web/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/eshoponweb:latest
          context: .
